<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> cd85e7eebc5a525d2bf4b92f8a1c5d81dfb07fc3
=======
=======
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
>>>>>>> 468d35ab7d49a7bb85eab99a914485fa30f2d6d7
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> cd85e7eebc5a525d2bf4b92f8a1c5d81dfb07fc3
=======
=======
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
>>>>>>> 468d35ab7d49a7bb85eab99a914485fa30f2d6d7
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> cd85e7eebc5a525d2bf4b92f8a1c5d81dfb07fc3
=======
=======
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
>>>>>>> 468d35ab7d49a7bb85eab99a914485fa30f2d6d7
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> cd85e7eebc5a525d2bf4b92f8a1c5d81dfb07fc3
=======
=======
<div class="rte">

    {{ product.description }}
  
    <p> These shoes are awesome </p>
  
>>>>>>> 468d35ab7d49a7bb85eab99a914485fa30f2d6d7
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
>>>>>>> af0fd84c150917a29b3d9a907a671e06094d33ea
>>>>>>> 64761c39996d41051a1935134b0b82ea54b69822
>>>>>>> b6ee34e17c233d11db051d9eb286b14c7f2ba5ae
  </div>