<<<<<<< HEAD
<h1>{{ page.title }}</h1>
<a>Heelo</a>
<div>{{ page.content }}</div>
=======
<<<<<<< HEAD
<h1>{{ page.title }}</h1>
<a>Heelo</a>
<div>{{ page.content }}</div>
=======
<<<<<<< HEAD
<h1>{{ page.title }}</h1>
<a>Heelo</a>
<div>{{ page.content }}</div>
=======
<h1>{{ page.title }}</h1>
<a>Heelo</a>
<div>{{ page.content }}</div>
>>>>>>> b6ee34e17c233d11db051d9eb286b14c7f2ba5ae
>>>>>>> cd85e7eebc5a525d2bf4b92f8a1c5d81dfb07fc3
>>>>>>> baca6b982fa913f390dbc2c78ce475655097177c
